@import "../abstracts/mixins";
@import '../modules/base';

.footer__content {
  padding: 10px;

  @include mobile() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    margin-bottom: 15px;
  }


  .footer__enlaces {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer__contact-info,
  .footer__social-media {

    margin-bottom: 20px;

    h4 {
      margin-bottom: 10px;
    }

    a {
      display: block;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer__footer-bottom {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
  p {
    margin: 0;
  }
}

