@import "../abstracts/mixins";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  transition:
    box-shadow 0.3s,
    border 0.3s;
  z-index: 1000;
  border-bottom: 2px solid #ccc; // Cambia a border-bottom o ajusta según necesites
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .header__logo {
    @include tablet() {
      display: flex;
      flex-direction: column;
    }
    a {
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;

      img {
        width: 70px;
        max-width: 100%;
        height: auto;

        @include tablet() {
          width: 80px;
        }

        @include mobile() {
          width: 50px;
        }
      }

      h1 {
        font-size: 32px;
        text-wrap: balance;

        @include tablet() {
          font-size: 24px;
        }

        @include mobile() {
          font-size: 16px;
        }
      }
    }
  }

  .header__interior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    gap: 10px;

    @include tablet() {
      height: 70px;
      width: 100%;
      padding: 20px;
    }

    @include mobile() {
      height: 50px;
    }

    .navegacion {
      &__enlaces {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;
        margin: 0;
        @include laptop() {
          display: flex;
        }
        @include tablet() {
          display: none;
        }

        @include mobile() {
          display: none;
        }

        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding: 10px 0;

        a {
          text-decoration: none;
          color: #333;
          font-weight: 500;
          position: relative;
          padding-bottom: 5px;
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $primary-color;
            transition: width 0.5s ease;
          }

          &:hover::after {
            width: 100%;
          }

          &.active {
            color: $primary-color;

            &::after {
              width: 100%;
              background-color: darken($primary-color, 10%);
            }
          }
        }
      }
    }
  }
}
