$primary-color: #007bff; // Color principal
$hover-color: darken($primary-color, 15%);
$underline-color: $primary-color;

// NAV

.navegacion {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: #333;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      height: 2px;
      background-color: $underline-color;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover {
      color: $hover-color;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}
