@import '../abstracts/mixins';

.equipo-medico {
  padding: 150px 0 0;
}

.equipo {

  .equipo__card {
    display: flex;
    gap: 20px;
    padding: 20px 0;

    
    @include tablet() {
      flex-direction: column;
    }

    @include mobile() {
      flex-direction: column;
    }
    

    img {
      width: 300px;
      max-width: 100%;
      object-fit: cover;

      @include mobile() {
        width: 100%;
      }
    }
    
    .equipo__infor {
      max-width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      @include mobile() {
        margin: 0px;
      }
    }
  }
}